/*********************************************** GENERAL ******************************************************/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

/*********************************************** HEADER ******************************************************/

.header {
  font-family: "Ubuntu", sans-serif;
  background-color: #d8c3a5; 
  padding: 2px;
  border-width: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e98074;
  position: sticky;
  top:0;
  font-size: 16px; 
  letter-spacing: 0;
  line-height: 2.8vh;
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: block;
}

.navbar > li {
  display: inline-block;
}

li > a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 5px 25px;
  height: 100%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #eae7dc;
  background-color: #e98074;
  border: none;
}

li > a:hover {
  background-color: #8e8d8a;
  /*     color: #F172A1; */
  /*  color: #ffc107;*/
  color: #eae7dc;

  opacity: 0.8;
  /* font-weight: bold; */
}

li > a:active {
  background-color: #8e8d8a;
  color: #e64398; 
  opacity: 1;
  font-weight: bold;
}

h2{
  margin-bottom: 5vh;
}
h2>i{
  font-size: 4vh;
  color: #fff8aa;
}
/*********************************************** MAIN ******************************************************/
.main {
  background: linear-gradient(to bottom, #e98074 0%, #eae7dc 75%);
  padding: 5% 10%;
}
h1{
  color: #f9f7e2;
  font-size: 20px;
}
.card {
  background-color: #ffffff;
  width: 100%;
  height: 80vh;
  display: flex;
  border-radius: 40px;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 25px 1px rgba(232, 90, 79, 0.2);
  padding-top: 5vh;
 
}
.picture {
  background-color: #f9f7e2;
  width: 10vw;
  height: 10vh;
  display: block;
  border-radius: 50%;
  align-content: center;
  display: block;
  width: 20%;
  border-radius: 50%;
  padding: 20px;

}
.profile {
  width: 25%;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(234, 231, 220);
}
.iconos {
  background-color: #faf089;
  display: block;
  width: 80%;
  padding: 5vh 0;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;  
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* background-color: #d8c3a5;
  border: 2px solid #e64398; */
  background-color:#ffffff;
}
.grid-item{
  background-color: #f9f7e2; 
  /* border: 3px solid #e98074; */
  display: block;
  padding:20px;
  text-align: center;
  box-shadow: 2px 2px 25px 1px rgba(232, 90, 79, 0.2);
  background-color:#ffffff;

}
.grid-item>i{
  box-shadow: 2px 2px 25px 1px rgba(232, 90, 79, 0.2);

}
/*********************************************** FOOTER ******************************************************/

footer {
    height: 12vh;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vh;
    background-color: #EAE7DC;
}

.span {
    display: block;
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: rgb(232, 90, 79);
    letter-spacing: 0;
    line-height: 28px;
}

.ico {
    display: block;
    display: flex;
    width: 20%;
    justify-content: space-around;
}

i {
    color: #E85A4F;
    font-size: 22px;
}

/*********************************************** MEDIA QUERY ******************************************************/
@media screen and (max-width: 992px) {
  .profile {
    width: 30%; 
  }
}

@media screen and (max-width: 768px){
  .profile {
    width: 35%; 
  }
}

@media screen and (max-width: 600px){

.profile {
  width: 50%;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(234, 231, 220);
}
.iconos {
  display: block;
  width: 80%;

  padding: 5vh ;
}

  .grid-container{
    padding: 5% 10%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.card {
  height: 100%;
  padding: 10%;
}
.span{
  font-size: 10px;
}
h2{
  margin-bottom: 5vh;
  font-size: 3vh;
}
h2>i{
  font-size: 3vh;
  color: #fff8aa;
}
}